*CMakeFiles*
*CMakeCache.txt
.*
*.txt
!.env.example
!.github/
!yocto/.gitignore
!apps/.clang-format

.cmake/
.idea/
.venv/
.vscode/

# Environment files with secrets.
.env
.github/.env

/*.json
!yocto/package.json
*.log
screenshot.png

# lvgl/ - removed to allow submodule
test-lvgl/_deps
build/
test-lvgl/build/
test-lvgl/build-debug/
test-lvgl/build-release/
test-lvgl/wl_protocols/
yocto/rpi-build/
zephyrproject/modules/
*/build/*

# Node.js dependencies.
node_modules/

# Zephyr project (not currently used).
zephyrproject/
