[submodule "apps/lvgl"]
	path = apps/lvgl
	url = https://github.com/aortez/lvgl.git
[submodule "apps/spdlog"]
	path = apps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "apps/external/args"]
	path = apps/external/args
	url = https://github.com/Taywee/args.git
[submodule "yocto/pi-base"]
	path = yocto/pi-base
	url = ../sparkle-duck-shared
[submodule "apps/external/smolnes"]
	path = apps/external/smolnes
	url = https://github.com/binji/smolnes.git
