[Unit]
Description=DirtSim OS Manager

[Service]
Type=simple
User=root
WorkingDirectory=/data/dirtsim
ExecStart=/usr/bin/dirtsim-os-manager -p 9090
Restart=no

[Install]
WantedBy=multi-user.target
