logging-config.json.local
logging-config.json
node_modules/

# Yocto build artifacts.
oe-logs
oe-workdir

# Build artifacts.
build/
build-debug/
build-release/
_deps/

# Downloaded NES test ROMs.
testdata/roms/*.nes
!testdata/roms/.gitkeep

# Cross-compilation artifacts.
build-aarch64-debug/
build-aarch64-release/
sysroot-aarch64/
